<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <form action="/new" method="POST">
            <h1><%= title %></h1>
            <div class="input-wrapper">
                <label for="username">Author: </label>
                <input type="text" name="username" id="user" />
            </div>

            <div class="input-wrapper">
                <label for="message">Message: </label>
                <textarea name="message" id="message" rows="8" cols="40"></textarea>
            </div>

            <button type="submit">Submit</button>
        </form>
        <a href="/" id="home">Home</a>
  </body>
</html>
